body{
	background-color: blue;
}

#sandbox{
	font-family:“goudy-bookletter-1911-1”, “goudy-bookletter-1911-2”, “Baskerville”,
“Georgia”, serif;
	font-size:16px;
	color: black;

	border-width: 1px; 
	border-color: #211111;
	border-style: solid;

	width:440px;
	height:200px;

	margin:40px 0px 0px 30px;
	padding: 20px;
	z-index: 2;
	overflow:hidden;

	border-radius: 15px 15px 15px 15px; /*añade bordes redondeados*/
}

p.cabecera{
	font-size:56px;
	margin:0px 0px 20px 0px;
	word-spacing: 2px;
}

p.texto{
	font-size: 30px;
	margin:0px 0px 20px 0px;
	line-height: 50px;
}

abbr{
	color: #ff2166;
	font-size: 130%;
	border-bottom: thin dashed #888;
	cursor:help;
}
