body{
	background-color: blue;
}

#caja{
	font-family:Georgia;
	font-size:16px;

	border-width: 1px; 
	border-color: #211111;
	border-style: solid;

	width:450px;
	height:200px;

	margin:40px 0px 0px 30px;
	padding: 20px;
}

p.titulo{
	font-size:56px;
	margin:0px 0px 20px 0px;
	word-spacing: 10px;
	cursor:help;
}

p.texto{
	font-size:190%;
	margin:0px 0px 20px 0px;
	line-height: 160%;
}

abbr{
	color: #ff4444;
	font-size: 130%;
	border-bottom: thin dashed #888;
}
